@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #023e7d; 
  --accent: #33415C;
  --bg-gray: #e6e6e6;
  --txt-gray: #666262;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .input-field {
    @apply w-full p-2 border rounded-lg;
  }

  .btn-primary {
    @apply inline-block px-10 py-2 rounded-full text-white bg-[var(--accent)] hover:opacity-90 transition;
  }

  .btn {
    @apply inline-block px-10 py-2 rounded-full hover:opacity-90 transition;
  }
}

body {
  --sb-width: 5rem;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.sb-expanded {
  --sb-width: 12.5rem;
}

aside {
  position: fixed;
  inset: 0 auto 0 0;
  padding: 1rem;
  width: var(--sb-width);
  background: var(--accent);
 }

 nav ul {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
 }

 nav a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
 }

  nav a.active, nav a:hover, nav a:focus-visible {
  color: black;
  background-color: white;
 }

 nav a span {
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
 }

 .sb-expanded nav a span {
  opacity: 1;
  visibility: visible;
 }


