@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #023e7d; 
  --accent: #33415C;
  --bg-gray: #e6e6e6;
  --txt-gray: #666262;
  --dark-gray: #33415C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .input-field {
    @apply w-full p-2 border rounded-lg;
  }

  .btn-primary {
    @apply inline-block px-10 py-2 rounded-full text-white bg-[var(--accent)] hover:opacity-90 transition cursor-pointer;
  }

  .btn {
    @apply inline-block px-10 py-2 rounded-full hover:opacity-90 transition cursor-pointer;
  }

  .btn-secondary {
    @apply inline-block px-10 py-2 rounded-lg text-white bg-[var(--dark-gray)] hover:opacity-90 transition cursor-pointer; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  --sb-width: 6rem;
}

.layout.sb-expanded {
  --sb-width: 12.5rem;
}

aside {
  position: fixed;
  inset: 0 auto 0 0;
  padding: 1rem;
  width: var(--sb-width);
  background: var(--main);
  transition: width 0.5s ease-in-out;
 }

 nav {
  height: 100%;
 }

 nav ul {
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
 }

 nav li:last-child {
  margin-top: auto;
 }

 nav a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 0.875rem;
  color: white;
 }

  nav a.active, nav a:hover, nav a:focus-visible {
  background-color: #0F5EA7;
 }

 nav a span, .titleEx {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
  display: inline-block;
 }

 .sb-expanded nav a span {
  opacity: 1;
  visibility: visible;
 }

 .sb-expanded .titleEx {
  opacity: 1;
  visibility: visible;
 }

 .sb-expanded aside .collapsed {
  rotate: 180deg;
 }
 
 main {
  margin-left: var(--sb-width);
  padding: 1rem 2rem;
  transition: margin-left 0.5s ease-in-out;
 }

